<button class="button" mat-button [disabled]="router.url.endsWith('admin-dashboard')">
  <mat-card [style.backgroundColor]="hyperlink.color" class="card">
    <mat-card-title>{{hyperlink.title}}</mat-card-title>
    <mat-card-subtitle>{{hyperlink.link}}</mat-card-subtitle>
    <img [src]="imgSrc" alt="" mat-card-sm-image>
    <mat-card-actions *ngIf="router.url.endsWith('admin-dashboard')">
      <button (click)="openEditDialog()" color="primary" mat-raised-button>Edit</button>
      <button color="warn" mat-raised-button>Delete</button>
    </mat-card-actions>
    <mat-card-footer>{{hyperlink.createdAt}} hi {{hyperlink.updatedAt}}</mat-card-footer>
  </mat-card>
</button>
